[submodule "gpen-blender-ext"]
	path = gpen-blender-ext
	url = https://github.com/AClon314/gpen-blender-ext.git
	branch = main
[submodule "gpen-browser-ext"]
	path = gpen-browser-ext
	url = https://github.com/AClon314/gpen-browser-ext.git
	branch = main
[submodule "gpen-protocol"]
	path = gpen-protocol
	url = ./gpen-protocol
	branch = main
[submodule "gpen-js"]
	path = gpen-js
	url = ./gpen-js
	branch = main
[submodule "gpen-vscode-ext"]
	path = gpen-vscode-ext
	url = https://github.com/AClon314/gpen-vscode-ext.git
	branch = main
[submodule "gpen-zig"]
	path = gpen-zig
	url = ./gpen-zig
	branch = main
[submodule "zig-flatbuffers"]
	path = zig-flatbuffers
	url = https://github.com/AClon314/zig-flatbuffers.git
[submodule "webgpu-wasm-zig"]
	path = tmp/webgpu-wasm-zig
	url = https://github.com/AClon314/webgpu-wasm-zig.git